* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
}

.logo {
  width: 200px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/*          carrito         */

.carrito img {
  width: 60px;
  height: auto;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.carrito #carrito-modal{
  display: none;
}

.carrito:hover #carrito-modal{
  display: block;
  position: absolute;
  right:0;

  /* top:100%; */
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

#vaciar-carrito{

  display: inline-block;
  width: 100%;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}


/*       navbar           */

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  margin-right: 50px;
}

/* HERO */
.hero {
  background-image: url(assets/header.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.hero h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.hero .formulario{ 
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.738);
    padding: 20px;
    border-radius: 5px;
}

.hero .formulario{
    display: flex;
    margin-top: 60px;
}

.hero .formulario input{
    margin: 0 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} 

.hero .formulario input[type="submit"]{
    background-color: #ff2e63;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.hero .formulario input[type="submit"]:hover{
    background-color: #ff2e63;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(1.1);
}
/* FIN HERO */

/* main */
main {
  margin-top: 60px;
}

.titulo{
  text-align: center;
}

.boton{
  background-color: #ff2e63;
  color: white;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}

.activo{
  background-color: #2e5fff;
}

.ocultar{
  display: none;
}

/* alinear cards con grid */
#mostrandoComputadoras, #mostrandoTeclados, #mostrandoMouse{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* cards */
.card{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  transition: all .3s ease;
}
.card img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card:hover{
  background-color: blue;
  color: white;
}


